include partials/_header

body
	.content
		h1 Data
		ul.block-list
			each source in data.dataSource
				li
					a(href='/data/'+source.dataStreamId+'/details')= source.dataStreamName || source.dataStreamId
					br
					small= source.dataStreamId
